.app-header {
    font-size: 3rem;
    font-weight: Bold;
    font-family: "-moz-initial";
    background-color: black;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3rem;
}

.infoCard {
    width: 90%; 
    margin: auto; 
    margin-top: 5rem;
    border: none;
}

.infoCardTitle {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.wd-row {
    display: block;
    text-align: left;
    margin-bottom: 2rem;
}

.wd-table1 {
    display: block;
    padding-bottom: 5rem;
}

.wd-table4col {
    display: block;
    columns: 4;
}

.wd-table2col {
    display: block;
    columns: 2;
}

.wd-word {
    font-weight: bolder;
    font-size: larger;
}

.wd-des {
    font-style:oblique;
}

.sn-wrapper {
    padding-top: 5rem;
    background-color: black;
    color: white;
    margin-top: 0;
}

.nav-link {
    color: white;
}

.nav {
    --bs-nav-link-hover-color: lightgrey;
    --bs-nav-tabs-link-hover-border-color: lightgrey;
}

.nav-tabs {
    --bs-nav-tabs-link-active-color: black
}

.sb-group {
    width: 80rem;
    margin: auto;
    justify-content: center;
    margin-top: 5rem;
    border: none;
}

.sb-text {
    background-color: black; 
    color: white;
    border: 1em; 
    font-weight: bold;
}

.wt-wrapper {
    max-width: 92%;
    margin: auto;
    margin-top: 3rem; 
    overflow: auto;
    padding: none;
}

.wt-table {
    margin: 0;
}

.wt-row {
    border-bottom: solid 0.1rem;
}

.wt-th {
    border-right: solid 0.05rem;
}

.as-wrapper {
    margin: auto;
    margin-top: 5rem; 
    max-width: 90%;
    justify-self: center; 
    padding: none;
}

.as-row {
    justify-content: center;
    margin-top: 1rem;
}

.infoTable-pair {
    margin-bottom: 2.5rem;
}

.anim-textbox {
    font-size: small;
    padding: 0.5;
}

.lt-accord {
    width: 90%;
    margin: auto;
    justify-content: center;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.lt-card {
    margin: auto; 
    overflow: auto;
    padding: none;
}

.categories {
    margin-bottom: 1rem;
}

.checklabel {
display: flex;
float: left;
margin-right: 0.1rem;
}