.app-header {
    font-size: 3rem;
    font-weight: Bold;
    font-family: "-moz-initial";
    background-color: black;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3rem;
}

.infoCard {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    border: none;
}

.infoCardTitle {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.wd-row {
    display: block;
    text-align: left;
    margin-bottom: 2rem;
}

.wd-table1 {
    display: block;
    padding-bottom: 5rem;
}

.wd-table4col {
    display: block;
    columns: 4;
}

.wd-table2col {
    display: block;
    columns: 2;
}

.wd-word {
    font-weight: bolder;
    font-size: larger;
}

.wd-des {
    font-style: oblique;
}

.sn-wrapper {
    padding-top: 5rem;
    background-color: black;
    color: white;
    margin-top: 0;
}

.nav-link {
    color: white;
}

.nav {
    --bs-nav-link-hover-color: lightgrey;
    --bs-nav-tabs-link-hover-border-color: lightgrey;
}

.nav-tabs {
    --bs-nav-tabs-link-active-color: black;
}

.sb-group {
    width: 80rem;
    margin: auto;
    justify-content: center;
    margin-top: 5rem;
    border: none;
}

.sb-text {
    background-color: black;
    color: white;
    border: 1em;
    font-weight: bold;
}

.wt-wrapper {
    max-width: 92%;
    margin: auto;
    margin-top: 3rem;
    overflow: auto;
    padding: none;
}

.wt-table {
    margin: 0;
}

.wt-row {
    border-bottom: solid 0.1rem;
}

.wt-th {
    border-right: solid 0.05rem;
}

.as-wrapper {
    margin: auto;
    margin-top: 5rem;
    max-width: 90%;
    justify-self: center;
    padding: none;
}

.as-row {
    justify-content: center;
    margin-top: 1rem;
}

.infoTable-pair {
    margin-bottom: 2.5rem;
}

.anim-textbox {
    font-size: small;
    padding: 0.5;
}

.lt-accord {
    width: 90%;
    margin: auto;
    justify-content: center;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.lt-accord-no-Top {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 3rem;
}

.lt-card {
    margin: auto;
    overflow: auto;
    padding: none;
}

.categories {
    margin-bottom: 1rem;
}

.checkLabel {
    margin-right: 3rem;
    display: inline-flex;
}

.checkInput {
    margin-right: 0.5rem;
}

.filters {
    margin-left: 6%;
    padding-top: 1.5rem;
    display: flex;
}

.badge {
    margin-right: 0.5rem;
    margin-left: 00.5rem;
}

.ctg {
    margin-bottom: 1rem;
}

.splitTable {
    width: 20rem;
    border: none;
}

.splitButton {
    background-color: black;
    color: white;
    border: 1em;
    font-weight: bold;
}

.split {
    width: 100%;
    margin-left: 70%;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.footer {
    background-color: black;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* footer left*/

.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}

.footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .icons {
    margin-top: 25px;
}

.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* footer center*/

.footer .footer-center {
    width: 30%;
}

.footer .footer-center i {
    background-color: black;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

/* footer right*/

.footer .footer-right {
    width: 35%;
}

.footer h3 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.footer .contributers {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .bottom-text {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer .footer-center i {
        margin-left: 0;
    }
}
